<div class="table-container">
  <table class="table is-striped">
    <thead>
      <tr>
        <th>Vereinsname</th>
        <th class="center">Jugend</th>
        <th class="center">Herren/Damen</th>
      </tr>
    </thead>
    <tbody>
      <% @clubs.each do |club| %>
        <tr>
          <td><%= link_to club[:name], club_path(club[:name]), class: 'has-text-info' %></td>
          <td class="center"><%= club[:youth_count] %></td>
          <td class="center"><%= club[:adult_count] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
