<div class="card" style="width: 100%;">
  <header class="card-header">
    <span class="card-header-title">Vereinssuche</span>
  </header>
  <div class="card-content">
    Finde alle Vereine, die Spieler auf der aktuellen Aktiven- oder Jugendrangliste haben, sowie die Anzahl der aktuellen Ranglistenspieler.
    <br/><br/>
    Filterbare Ranglisten, Spielerinfos und Informationen zu den im System verfügbaren Datenständen sind ebenfalls abrufbar:
  </div>
  <footer class="card-footer">
    <%= link_to "Spielersuche", players_path, class: 'card-footer-item has-text-info' %>
    <%= link_to "Ranglisten", listings_path, class: 'card-footer-item has-text-info' %>
    <%= link_to "Verbandsstatistik", federations_path, class: 'card-footer-item has-text-info' %>
  </footer>
</div>
