<% provide(:title, "Über") %>
<% provide(:meta_content, "Allgemeine Informationen und Impressum") %>
<h1 class="title is-3 has-text-left mb-3 mt-3">
  Über <i>Ranking-Info</i>
</h1>
<p>
  Ranking-Info ist eine Webanwendung, die Daten der Aktiven und Jugendrangliste des Deutschen Tennis Bundes (DTB)
  auf verschiedene Arten visualisiert.
  Alle Daten sind der offiziellen Rangliste entnommen, die in der jeweils
  aktuellen Fassung unter<br/><a href="https://www.tennis.de/spielen/ranglisten-und-leistungsklasse.html" target="_blank">https://www.tennis.de/spielen/ranglisten-und-leistungsklasse.html</a><br/>abrufbar ist. 
</p>
<p>
  Die Adresse unserer Website ist: <%= ENV.fetch("DOMAIN") || CONFIG['domain'] %>.<br/><br/>
  <%= render 'impressum' %>
</p>
