<div class="rounded shadow">
  <header class="bg-gray-100 px-4 py-3 rounded-t font-semibold border-b border-gray-200">
    <span>Ranglisten - Suchen und Filtern, auch in historischen Daten</span>
  </header>
  <div class="p-4">
    Hier bekommst Du direkten Zugriff auf die Aktiven- und Jugendranglisten - nicht nur aus dem aktuellen Jahr,
    sondern auch historische Daten.
    <br/><br/>
    Aktuelle Optionen:
    <ul class="list-disc list-inside mt-2">
      <li><b>Quartal</b> - das anzuzeigende Quartal zum Stichtag</li>
      <li><b>Abschlussrangliste</b> - ist ein Abschlussquartal angewählt, wird die Abschließende Liste für das Jahr angezeigt, sonst die für das Folgequartal gültige (neue Altersklassen)</li>
      <li><b>Geschlecht</b></li>
      <li><b>Altersklasse*</b> - die anzuzeigende Altersklasse. Bei ungeraden Altersklassen
      erhält man die Liste nur für diesen Jahrgang (außer es sollen auch Jüngere angezeigt werden)</li>
      <li><b>Optionen*</b> - Anzeige nur von dem in diesem Quartal gültigen Jahrgangs oder Einbeziehen auch der sonst
      nicht berücksichtigten jüngeren Geburtsjahrgänge</li>
      <li><b>Verband</b> - Nur Einträge von Spielerinnen und Spielern aus dem ausgewählten Verband</li>
      <li><b>Verein</b> - Einträge anzeigen, die den eingegebenen Text im Vereinsnamen enthalten</li>
    </ul>
    <small>* hat nur für die Jugendranglisten eine Auswirkung</small>
  </div>
  <footer class="flex border-t border-gray-200 rounded-b">
    <%= link_to "Spielersuche", players_path, class: 'flex-1 text-center px-4 py-3 text-brand hover:bg-gray-50' %>
    <%= link_to "Vereinsuche", clubs_path, class: 'flex-1 text-center px-4 py-3 text-brand hover:bg-gray-50 border-l border-gray-200' %>
    <%= link_to "Verbandsstatistik", federations_path, class: 'flex-1 text-center px-4 py-3 text-brand hover:bg-gray-50 border-l border-gray-200' %>
  </footer>
</div>
