<div class="card">
  <header class="card-header">
      <span class="card-header-title">Ranglisten - Suchen und Filtern, auch in historischen Daten</span>
  </header>
  <div class="card-content">
    Hier bekommst Du direkten Zugriff auf die Aktiven- und Jugendranglisten - nicht nur aus dem aktuellen Jahr,
    sondern auch historische Daten.
    <br/><br/>
    Aktuelle Optionen:
    <ul>
      <li><b>Quartal</b> - das anzuzeigende Quartal zum Stcihtag</li>
      <li><b>Abschlussrangliste</b> - ist ein Abschlussquartal angewählt, wird die Abschließende Liste für das Jahr angezeigt, sonst die für das Folgequartal gültige (neue Altersklassen)
      <li><b>Geschlecht</b></li>
      <li><b>Altersklasse*</b> - die anzuzeigende Altersklasse. Bei ungeraden Altersklassen 
      erhält man die Liste nur für diesen Jahrgang (außer es sollen auch Jüngere angezeigt werden)</li>
      <li><b>Optionen*</b> - Anzeige nur von dem in diesem Quartal gültigen Jahrgangs oder Einbeziehen auch der sonst 
      nicht berücksichtigten jüngeren Geburtsjahrgänge</li>
      <li><b>Verband</b> - Nur Einträge von Spielerinnen und Spielern aus dem ausgewählten Verband</li>
      <li><b>Verein</b> - Einträge anzeigen, die den eingegebenen Text im Vereinsnamen enthalten</li>
    </ul>
    <small>* hat nur für die Jugendranglisten eine Auswirkung</small>
  </div>
  <footer class="card-footer">
    <%= link_to "Spielersuche", players_path, class: 'card-footer-item has-text-info' %>
    <%= link_to "Vereinsuche", clubs_path, class: 'card-footer-item has-text-info' %>
    <%= link_to "Verbandsstatistik", federations_path, class: 'card-footer-item has-text-info' %>
  </footer>
</div>
