<% provide(:title, "Upload und Import") %>
<div class="container">
  <h1 class="title is-3 has-text-left mb-3 mt-3">
    Upload und Import
  </h1>
</div>
<div class="container">
  <p>
    <p>Hier können neue Daten in das System geladen werden.
    Der Import dauert je nach Dateigröße und Systemleistung zwischen 2 und 15 Minuten.
    Nach Abschluss erhälst Du eine Erfolgsmeldung - hab ein wenig Geduld!
    </p>
    <p>
      Informationen zum Layout der Importdatei findest Du im README, ein Beispiel liegt unter
      <i>test/fixtures/files</i>.
    </p>
  </p>
  <%= form_with(url: {action: :import}, multipart: true) do %>
    <div class="field is-horizontal mt-3 mb-3">
      <div id="file-upload" class="file has-name">
        <label for="file" class="file-label">
          <%= file_field_tag 'file', class: 'file-input' %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Datei auswählen…
            </span>
          </span>
          <span class="file-name">Datei</span>
        </label>
      </div>
      <%= submit_tag 'upload & import', class: 'button is-link is-info ml-2' %>
    </div>
  <% end %>
</div>

<script>
  const fileInput = document.querySelector('#file-upload input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-upload .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>
