.navbar.is-info {
  --bulma-navbar-background-color: #3e8ed0;
  --bulma-navbar-h: 207deg;
  --bulma-navbar-s: 61%;
  --bulma-navbar-l: 53%;
  --bulma-navbar-item-background-l: 53%;
  --bulma-navbar-item-color-l: 100%;
}

/* universal */
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* table text */
.table th.center {
  text-align: center !important;
}

.table td.center {
  text-align: center;   
}

.striped {
  background-color: #efefef;
}

/* fa icon colors */
.ri-icon-green {
  font-size: 1.0em;
  color: green;
}

.ri-icon-red {
  font-size: 1.0em;
  color: red;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background-color: #ddd7d7;
  padding: 10px;
  border-radius: 6px;
}
