<p class="text-sm font-semibold mt-2 mb-1">Verlauf Altersklasse (12 Monate)</p>
<div class="mt-1">
  <%= line_chart @data_for_last_twelve_months, curve: false, legend: 'bottom', library: {yAxis: { reversed: true} } %>
</div>
