<span class="text-sm font-semibold"><br/>Verlauf Altersklasse (12 Monate)</span>
<div class="mt-1">
  <%= line_chart @data_for_last_twelve_months, curve: false, legend: 'bottom', library: {yAxis: { reversed: true} } %>
</div>
