<p class="text-sm font-semibold mt-2 mb-1">Verlauf gesamt</p>
<div class="mt-1">
  <%= line_chart @data_diagram_complete, curve: false, legend: 'bottom', library: { yAxis: { reversed: true }} %>
</div>
