<span class="text-sm font-semibold"><br/>Verlauf gesamt</span>
<div class="mt-1">
  <%= line_chart @data_diagram_complete, curve: false, legend: 'bottom', library: { yAxis: { reversed: true }} %>
</div>
