<div class="rounded shadow">
  <header class="bg-gray-100 px-4 py-3 rounded-t font-semibold border-b border-gray-200">
    <span>Spielersuche</span>
  </header>
  <div class="p-4">
    <h6 class="text-sm font-semibold mb-2">Der direkte Weg zum Spielerprofil</h6>
    Über die Spielersuche kann gezielt nach einer Spielerin oder einem Spieler gesucht werden.
    Wenn Du keine Suchkriterien angibst und auf 'suchen' klickst, erhältst du alle Spieler,
    die im System vorhanden sind - diese Liste kann allerdings ziemlich lang sein.
    <br/><br/>
    Bei den Suchkriterien stehen die Suche nach der <b>DTB-ID</b>, <b>Nachnamen oder Teilen des Nachnamens</b>
    oder dem <b>Geburtsjahrgang</b> zur Verfügung. Gibst Du eine DTB-ID ein, wird immer nur nach dieser
    gesucht. Die Suche nach Nachname und Geburtsjahr sind kombinierbar.
    <br/><br/>
    Filterbare Ranglisten und Informationen zu den im System verfügbaren Datenständen sind ebenfalls abrufbar:
  </div>
  <footer class="flex border-t border-gray-200 rounded-b">
    <%= link_to "Ranglisten", listings_path, class: 'flex-1 text-center px-4 py-3 text-brand hover:bg-gray-50' %>
    <%= link_to "Vereinsuche", clubs_path, class: 'flex-1 text-center px-4 py-3 text-brand hover:bg-gray-50 border-l border-gray-200' %>
    <%= link_to "Verbandsstatistik", federations_path, class: 'flex-1 text-center px-4 py-3 text-brand hover:bg-gray-50 border-l border-gray-200' %>
  </footer>
</div>
